@charset "utf-8";
/* CSS Document */

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3f454f;
}

a{
	display:block;
	text-decoration:none;
        outline: none;
}

.div_principales{
	width: 100%;
	float:left;
}

.content{
	width: 960px;
	margin: 0 auto;
	padding:0 10px;
	overflow:hidden;
}

#header{
	background:url(../images/header_bg.jpg);
	height:265px;
}

#logo{
	width:212px;
	height: 306px;
	position:relative;
	z-index:100;
	margin-left: -8px;
}

#logo a{
	margin-left:10px;
}

#header .content{
	background:url(../images/header.jpg) no-repeat 0 0;
	height: 358px;
}

#banner_p{
    height: 220px;
    margin-left: -9px;
    margin-top: 8px;
    width: 712px;
    overflow: hidden;
    position: relative;
}

#banner_p a{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#banner_p a.active{
    display: block;
}

#menup{
    height: 29px;
    margin-left: -8px;
    margin-top: 8px;
}

#menup li{
	display:block;
	float:left;
}

#menup li a{
    height: 20px;
    padding: 9px 25px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_btns{
    background: url("../images/bg_btns_menu.jpg") no-repeat scroll right bottom transparent;
    color: #FFFFFF;	
}

#menup li a:hover, .active{
	background:#FFF;
	color:#000;
}

#contenido{
	position:relative;
	z-index:50;
}

#banners{
    margin: 30px 0 0 2px;
    width: 194px;	
}

#banners a{
	margin-bottom: 25px;
}

#footer{
	background: #ca5a0f;
	height:68px;
	position:relative;
	z-index:0;
	margin-top: 70px;
}

#footer .content{
    background: url("../images/bg_footer.jpg") no-repeat scroll 0 0 transparent;
    height: 157px;
    margin-top: -93px;
}

#secciones{
    font-size: 15px;
    line-height: 20px;
    margin: 90px 0 0 20px;
    text-align: justify;
    width: 700px;
}

#secciones p{
	width:95%;
}

#secciones>h2{
    color: #F26522;
    font-size: 20px;
    margin-bottom: 20px;
}

#contenido .content > div{
	float:left;
}

#footer p{
    color: #666666;
    font-size: 10px;
    padding: 110px 60px 0 215px;
}

#directorio_content{
    margin-top: 20px;
    overflow: hidden;
	font-size: 10px;
	}
	
#directorio_content a{
    float: left;
    text-decoration: none;
    width: 100%;
}

 #secciones .left > a > img{
	width: 100%;
	margin-bottom:10px;
}

#directorio_content a span{
	font-size: 16px;
    color: #F26522;
    margin-bottom: 20px;	
}

.cupon, #directorio_content div{
    margin: 20px 10px 0 0;
    width: 220px;
	font-size: 10px;
	height:300px;
}

#mapa_motel .cupon{
    width:100%;
    height: 150px;
    margin-top: 0;        
}
.cupon > img{
	width: 100%;
}

.cupon p, #directorio_content p{
	text-align:justify;
        overflow: hidden;
}

.promociones .cupon p{
    max-height: 105px;
}

.home .cupon p{
    max-height: 60px;    
}

.directorio p{
    max-height: 140px;
}

.cupon h3{
	font-size:14.5px;
	color: #F26522;
	margin-top:10px;
}

.cupon p span{
    display: block;
    height: 20px;
    text-transform: capitalize;
    width: 100%;
}

.left, .cupon > div, .share a{
	float:left;
}

.share{
   margin: 0 8px;
   width: 50px;
}

.share img{
	margin: 0 1px;
}

.share p{
	text-align:center;
}

.precio{
	background:url(../images/bg_precio.jpg);
	width:44px;
	height:45px;
}

.precio span{
	display:block;
	width:100%;
	text-align:center;
	color:#FFF;
	font-size: 13px;
	font-weight:bold;
    margin-top: 12px;	
}

#desc_motel{
	width:425px;
}

#desc_motel h2{
    color: #404040;
    font-size: 23px;
    font-weight: bold;
    float: left;
}

#desc_motel p{
	color:#919191;
	font-size:14px;
}

#mapa_motel{
    margin-left: 20px;
    width: 250px;
}

.gray_box{
	float:left;
	width:100%;
}

.gray_box h3{
    background: #FBFBFB;
    border-color: #EAEAEA;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
    color:#404040;
    font-size:10px;
    text-transform:uppercase;
    font-weight:bold;
}

.gray_box div{
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #EAEAEA;
    margin-top: -1px;
    padding: 20px 10px;
    position: relative;
    z-index: 0;
    float:left;    
}

.gray_box a{
    float: left;
    margin: 15px;	
}

.galerias_div{
	margin: 30px 0 0px 0;
        padding-bottom: 50px;
}

.galerias_div div{
    width: 678px;
}

#fcontacto{
    background: url("../images/bg_contacto.jpg") repeat scroll 0 0 transparent;
    height: 341px;
    margin-top: 41px;
    padding: 117px 0 0 28px;
    width: 270px;
	float:left;
}

.text{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #102933;
    display: block;
    font-family: inherit;
    font-size: 13px;
    height: 25px;
    margin-bottom: 14px;
    padding: 5px;
    resize: none;
    width: 232px;
}

textarea.text{
    height: 147px;	
}

#links{
    float: left;
    margin: 190px 0 0 115px;	
}

#links a{
    color: #F26522;
    font-size: 18px;
    margin-bottom: 20px;
}

#comofunciona{
	margin-bottom:40px;
}

.popup{
	background:url(../images/5letras_logo.jpg) no-repeat #fff 10px -15px;
	width:528px;
	height:234px;
	display:none;
	font-size:13px;
	line-height:20px;
}

#simplemodal-overlay {background-color:#000;}
/*#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}*/

#correo_mail p{
	margin-top:50px;
}

.right{
	float:right;
}

.popup p{
    padding: 10px 20px;
    width: 294px;	
}

.popup label{
	width:314px;
}

.popup .txt{
	width:245px;
}

.boton{
    margin: 10px 15px 0 200px;
}

.condiciones{
	display:none;
}

#mensaje{
    height: 150px;
    overflow: hidden;	
}
#siguenos{
    float: left;
    margin-bottom: 25px;
}
#siguenos a{
    float: left;
    margin: 5px 3px;   
}
#siguenos span{
  font-size: 15px;
  margin: 9px 10px 10px 15px;
  text-transform: uppercase;
  display: block;
}
#siguenos span + div{ margin-left: 15px; }
#condiciones_uso div, #mensaje{
    float: left;
    height: 170px;
    margin: 15px 0 0 220px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 300px;
	padding: 0;
}
#condiciones_uso h3{
    font-weight: bold;
    margin-bottom: 15px;    
}
#condiciones_uso ol{
    list-style: decimal inside none;    
}
#condiciones_uso p{
    padding: 15px 0;   
    width: auto;
}
.cupon > span{
    display: block;
    margin-top: 10px;
    width: 100%;
}

#forma_dineromail > span, #forma_paypal > span{
    bottom: 55px;
    color: #E06402;
    font-size: 11px;
    font-weight: bold;
    left: 225px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    width: 140px;
}

#share_motel{
    float: left;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;    
}

#share_motel a{
    float: right;
    margin-left: 5px;    
}

.contacto{
    height: 900px;
}

#tipo_pago{
    margin: 0 22px 10px 0;
    padding: 5px;
    width: 294px;
}